.top-nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .window-operate{
    margin-left: auto;
    .icon{
      padding:3px 0;
      padding-left: 10px;
      &:hover{
        color:#fff;
      }
    }
  }
}