.header{
  -webkit-app-region: drag;
  height:50px;
  line-height: normal;
  padding:0 15px 0 0;
  color:$header-font-color;
  position: fixed;
  right:0;
  top:0;
  width:calc(100vw - 200px);
  z-index:99;
}

.left-aside{
  height: calc(100vh - 50px);
  position: relative;
  overflow: auto;
  background-color: $aside-bg-color;
}

.main-content{
  margin-top: 50px;
  height: calc(100vh - 100px);
  background-color: $color-FAFAFA;
}

.footer{
  height: 50px;
  padding:0 15px;
  border-top:border-line();
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  z-index: 99;
  display: flex;
  align-items: center;
}