.header{
  -webkit-app-region: drag;
  height:50px;
  line-height: normal;
  padding:0 15px 0 0;
  color:$header-font-color;
  position: fixed;
  right:0;
  top:0;
  width:calc(100vw - 200px);
  z-index: 999999;
}

.left-aside{
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
  background-color: $aside-bg-color;
}

.main-content{
  margin-top: 50px;
  height: calc(100vh - 100px);
}

.footer{
  height: 49px;
  line-height: 49px;
  padding:0 15px;
  border-top:1px solid $aside-border-color;
}