.play-btn{
  .btn{
    cursor: pointer;
    display: block;
    font-size: 32px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: #ff410f;
    color: #fff;
    line-height: 32px;
  }
}