.play-btn{
  .btn{
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
    font-size: 24px;
    border-radius: 16px;
    color: #fff;
    fill:#fff;
    line-height: 24px;
  }
}