.special {
  margin: 0 auto;
  max-width: 888px;
  .banners {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  // 推荐歌单
  .recommended-play-list {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-11;
    .play-list-item{
      width: calc(20% - 8px);
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      &:before{
        content: "";
        padding-top: 100%;
        display: block;
      }
      &:not(:nth-child(5n)){
        margin-right: 10px;
      }
      .item-box{
        position: absolute;
        left:0;
        right: 0;
        top: 0;
        .item-right-top{
          position: absolute;
          right:0;
          top:0;
          left: 30%;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 5px;
          color:#fff;
          background:-webkit-linear-gradient( right,rgba(0, 0, 0, 0.3) 30%,rgba(101, 101, 101, 0.2) 60%,rgba(201, 201, 201, 0.1) 80%,rgba(255, 255, 255, 0.0) 100%);
          z-index: 1;
          transition:all 0.1s linear 0.5s;
        }
        .item-copywriter{
          transition:all 0.1s linear 0.5s;
          position: absolute;
          right:0;
          left: 0;
          top:0;
          padding: 0.5em;
          color:#fff;
          z-index: 1;
          transform: translateY(-100%);
          background-color: rgba(0,0,0,0.5);
        }
        .item-play-btn{
          position: absolute;
          right:8px;
          bottom:8px;
          z-index:-999;
        }
        &:hover{
          .item-copywriter{
            transform: translateY(0);
          }
          .item-right-top{
            z-index: -999;
          }
          .item-play-btn{
            z-index:1;
          }
        }
        img{
          width: 100%;
        }
      }
      .item-name{
        color:$font-color-333;
        margin-top: 10px;
      }
    }
  }

  // 独家放送
  .exclusive-list{
    display: flex;
    margin-bottom: 10px;
    .exclusive-list-item{
      flex:1;
      position: relative;
      cursor: pointer;
      &:not(:nth-child(3n)){
        margin-right: 10px;
      }
      .item-img-box{
        img{
          width: 100%;
        }
      }
      .exclusive-item-name{
        color:$font-color-333;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // 最新音乐
  .latest-list{
    display: flex;
    .latest-list-group{
      flex:1;
      .latest-list-item{
        font-size: 13px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        padding:5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &>div{
          margin-left:10px;
        }
        .latest-item-img-box{
          position: relative;
          width: 35px;
          height: 35px;
          img{
            width: 100%;
            height: 100%;
          }
          .latest-play-btn{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }
        .color-888{
          color:$font-color-888;
        }
        .color-333{
          color:$font-color-333;
          font-size: 14px;
        }
      }
    }
  }

  // 推荐MV
  .mv-list{
    display: flex;
    .mv-list-item{
      flex:1;
      position: relative;
      cursor: pointer;
      &:not(:nth-child(4n)){
        margin-right: 10px;
      }
      .mv-item-img-box{
        img{
          width: 100%;
        }
      }
      .mv-item-name{
        color:$font-color-333;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // 主播电台
  .fm-list{
    display: flex;
    .fm-list-item{
      flex:1;
      position: relative;
      cursor: pointer;
      &:before{
        content: "";
        padding-top: 100%;
        display: block;
      }
      &:not(:nth-child(6n)){
        margin-right: 10px;
      }
      .fm-item-img-box{
        position: absolute;
        left:0;
        right: 10px;
        top: 0;
        img{
          width: 100%;
        }
      }
      .fm-item-name{
        color:$font-color-333;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}