.special {
  .banners {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  // 推荐歌单
  .recommended-play-list {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-11;
    .play-list-item{
      width: calc(20% - 8px);
      margin-bottom: 10px;
      position: relative;
      cursor: pointer;
      &:before{
        content: "";
        padding-top: 100%;
        display: block;
      }
      &:not(:nth-child(5n)){
        margin-right: 10px;
      }
      .img-box{
        position: absolute;
        left:0;
        right: 10px;
        top: 0;
        img{
          width: 100%;
        }
      }
      .item-name{
        color:$font-color-333;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // 独家放送
  .exclusive-list{
    display: flex;
    margin-bottom: 10px;
    .exclusive-list-item{
      flex:1;
      position: relative;
      cursor: pointer;
      &:not(:nth-child(3n)){
        margin-right: 10px;
      }
      .item-img-box{
        img{
          width: 100%;
        }
      }
      .exclusive-item-name{
        color:$font-color-333;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // 最新音乐
  .latest-list{
    display: flex;
    .latest-list-group{
      .latest-list-item{
        font-size: 14px;
      }
    }
  }

  // 推荐MV
  .mv-list{
    display: flex;
    .mv-list-item{
      flex:1;
      position: relative;
      cursor: pointer;
      &:not(:nth-child(4n)){
        margin-right: 10px;
      }
      .mv-item-img-box{
        img{
          width: 100%;
        }
      }
      .mv-item-name{
        color:$font-color-333;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // 主播电台
  .fm-list{
    display: flex;
    .fm-list-item{
      flex:1;
      position: relative;
      cursor: pointer;
      &:before{
        content: "";
        padding-top: 100%;
        display: block;
      }
      &:not(:nth-child(6n)){
        margin-right: 10px;
      }
      .fm-item-img-box{
        position: absolute;
        left:0;
        right: 10px;
        top: 0;
        img{
          width: 100%;
        }
      }
      .fm-item-name{
        color:$font-color-333;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}